@import '../base/_variables';

header {
    position: relative;
    overflow: hidden;

    .bg-video-container {

        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    
        &__bg-video-wrapper {
    
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            z-index: -100;
            clip: rect(0, auto, auto, 0);
        
            &__bg-video {
                position: fixed;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        
        }
    
    }
    
    .header-container {
    
        position: relative;
        padding-bottom: 47em;
    
        &__h1-container {
    
            height: 100vh;
            position: relative;
    
            &__h1-content {
    
                position: absolute;
                width: 100%;

                &__highlighted {
                    position: relative;
                    color: map-get($colors, "black" );

                    &__img {
                        position: absolute;
                        left: -10%;
                        width: 120%;
                        z-index: -1;
                    }
                }
        
                h1{
                    position: absolute;
                    width: 100%;
                }
        
            }
    
        }
    }

}

/* Responsive */


@media screen and (min-width: 1640px) {
    .header-container {

        &__h1-container {
            grid-column: 2 / span 7;
        
            &__h1-content {
                bottom: 28em;
            }
        }
    }    

}

@media screen and (min-width: 720px) and (max-width: 1639px) {
    .header-container {

        &__h1-container {
            grid-column: 2 / span 7;
        
            &__h1-content {
                bottom: 18em;
            }
        }
    }    
    
}

@media screen and (min-width: 376px) and (max-width: 719px) {
    .header-container {

        &__h1-container {
            grid-column: 1 / span 4;
        
            &__h1-content {
                bottom: 13.5em;
            }
        }
    }    
}

@media screen and (max-width: 375px) {
    .header-container {

        &__h1-container {
            grid-column: 1 / span 4;
        
            &__h1-content {
                bottom: 11em;
            }
        }
    }    
}