@import '../base/variables';

.trasparence {
    position: absolute;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: -5;
}

.viewport-cover {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

form {

    input {

        &[type=checkbox] {
            width: 20px;
            height: 20px;
            margin-right: 5px;
            vertical-align: middle;

            &:checked {
                background-color: map-get($colors, "white" );
            }
        }

        &[type=text] {
            display: block;
            width: 100%;
            background-color: map-get($colors, "black" );
            color: map-get($colors, "white" );
            margin-bottom: 20px;
            border: solid 1px map-get($colors, "white" );
            padding: 30px 10px 10px 10px;
            border-radius: 8px;
    
            &::placeholder {
                color: map-get($colors, "white" );
            }
    
            &:focus {
                
                &::placeholder {
                    opacity: 0.6;
                }
            }
        }

        &[type=submit] {
            border: none;
            color: map-get($colors, "black" );
            display: block;
            width: 100%;
            padding: 10px;
            border-radius: 8px;
            font-size: 22px;
            background-color: map-get($colors, "white" );
    
            &:hover {
                background-color: map-get($colors, "gray" );
                color: map-get($colors, "white" );
                border: solid 1px map-get($colors, "white" );
            }
        }
    }

    label {
        position: absolute;
        color: map-get($colors, "gray" );
        font-size: 13px;
        margin-left: 10px;
        margin-top: 8px;
    }

    p {
        vertical-align: top;

        .txt {
            vertical-align: top;
        }

        .link-simulation {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}